/*
Colors used:
Primary colour on white (Black): #333333;
Action Colour (Blue): #8BB4C6;
Primary color on black (White): #FFFFFF
*/

.header {
  text-align: unset;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contentBox1 {
  height: 300px;
  width: auto;
  background: black;
    padding: 15px;
    margin-top: 25px;
    text-align: center;
    color: white;
    border-radius: 12px;
}

.myicon1{
width: 180px;
    height: auto;
    margin-left: 85px;
    margin-top: 30px;
    position:relative;
}

.headingFont{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 42px;
    color: black;
}

.whiteText{
    color: white;
}

/* ==============================
Medium devices (640px and larger)
================================= */
.media only screen and (min-width: 640px) {text-align: unset;
    padding: 20px 0 13px;
  }

.nav {
    width: auto;
    float: right
    margin-top: 4px;
  }

/* ==============================
Large devices (1024px or larger)
================================= */
.media only screen and (min-width: 1024px) {
}

/* ==============================
X-large devices (1440px or larger)
================================= */
.media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
.media only screen and (min-width: 1920px) {
}

.hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}