/*
Colors used:
Primary colour on white (Black): #333333;
Action Colour (Blue): #8BB4C6;
Primary color on black (White): #FFFFFF
*/

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contentBox1 {
  height: 300px;
  width: auto;
  background: black;
    padding: 15px;
    margin-top: 25px;
    text-align: center;
    color: white;
    border-radius: 12px;
}

.myicon1{
width: 180px;
    height: auto;
    margin-left: 85px;
    margin-top: 30px;
    position:relative;
    color: white
}

.headingFont{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 42px;
    color: black;
}

.whiteText{
    color: white;
}