
/*
Colors used:
Primary colour on white (Black): #333333;
Action Colour (Blue): #8BB4C6;
Primary color on black (White): #FFFFFF
*/

.navbar {
	width: 100%;
	height: auto;
	background: #333333;
	padding: 25px;
	display: inline-flex;
	margin-left: 15px;
}
.navbar-nav {
	display: inline-flex;
	width: auto;
	height: auto;
	margin-left: 250px;
	padding: relative;
}
.nav-item {
	display: inline-flex;
	width: auto;
	text-align: center;
	padding: 15px;
	margin-top: -25px;
	position: relative;
	margin-left: 20px
}
body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #333333;
  text-align: left;
}
Buttons and links
*/
a {
  color: #DB1D0F;
  text-decoration: none;
}
a:visited {
  color: #4E2C3C;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #DB1D0F;
  text-decoration: underline;
}
a:active {
  color: #333333;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #DB1D0F;
  color: #FFFFFF !important;
  font-weight: 400;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  opacity: 0.8;
}
.button.email {
  background-color: #FFFFFF;
  color: #333333 !important;
  border: 2px solid #333333;
}
.button.email:hover {
  background-color: #DB1D0F;
  color: #FFFFFF !important;
  transition: 0.3s background-color;
}
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.container-filled {
  background: #8BB4C6;
  padding: 20px;
}
.pageTitle-bar  {
	width: 100%;
	height: auto;
	background:grey;
	padding: 25px;
	margin-left: 15px;
    text-align: center;
    margin-top: -30px;
    position: relative;
}

.hero{
  background-color: #333333;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.storysection{
    width: 60%;
    padding: 25px;
    background: light-green;


}
.skillssection{
    padding: 25px;
    background: light-green;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Create two columns/boxes that floats next to each other */
.myworkSection{
  float: left;
  width:60%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}
article {
  float: left;
  padding: 20px;
  width: 40%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  padding: 25px 0;
  margin: 25px auto 0 auto;
  width: 100%;
}
footer>.container>p>a {
  color: #FFFFFF !important;
  font-weight: 700;
}
footer>.container>p>a:hover {
  opacity: 0.8;
  text-decoration: underline;
  transition: 0.2s;
}
footer>.container>p>a:active {
  opacity: 0.8;
